/* This is the main file for global styles. */

/* VARIABLES */
:root {
  --MainGreen: hsl(145, 63%, 49%);
  --LightGreen: hsl(145, 100%, 85%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(240, 100%, 5%);
  --Gray: hsl(233, 8%, 79%);
}

/* GLOBAL STYLES: MOBILE FIRST */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}